<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<div class="modal fade" id="editFunctionalRequirementModal" tabindex="-1" role="dialog" aria-labelledby="editFunctionalRequirementModalTitle" th:fragment="edit-functional-requirement-modal" aria-hidden="true">
    <div class="modal-dialog modal-dialog-scrollable" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="editFunctionalRequirementModalTitle">Add Functional Requirement</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <form id="edit-functional-requirement-form" th:action="@{/edit-functional-requirement}" method="post">
                <div class="modal-body">

                    <div class="form-group">
                        <label for="functionalRequirement">Requirement:</label>
                        <textarea id="functionalRequirement" class="form-control" type="text" name="functionalRequirement" required></textarea>
                    </div>

                    <input type="hidden" id="projectIdHidden" name="projectId">
                    <input type="hidden" id="requirementId" name="requirementId">

                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                    <button type="submit" class="btn btn-primary">Update</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>