<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
</head>
<body>
<nav id="sidebar" th:fragment="sidebar-project">
    <div style="overflow: auto; height: 100%">
        <div class="sidebar-header">
            <h3 style="margin-bottom: 0; display: inline">Projects</h3>
            <a href="/" style="text-decoration: none; float: right;">
                <button class="invisible-button project-side" style="margin: 0; color: white;">
                    <i class="fas fa-home fa-2x"></i>
                </button>
            </a>
        </div>

        <ul class="list-unstyled components">
            <th:block th:each="proj: ${projects}">
                <li th:if="${proj.id} == ${project.id}" class="active project-side">
                    <a th:href="'/view-project?id=' + ${proj.id}" th:text="${proj.name}">Test</a>
                </li>
                <li th:if="${proj.id} != ${project.id}" class="project-side">
                    <a th:href="'/view-project?id=' + ${proj.id}" th:text="${proj.name}">Test</a>
                </li>
                <li th:if="${projects} == null" style="text-align: center">
                    <a>--- No Projects Found ---</a>
                </li>
            </th:block>
        </ul>
    </div>


    <div id="sidebar-footer">
        <a>
            <i id="createProjectBtn" class="fas fa-plus-circle fa-lg" data-toggle="modal" data-target="#createProjectModal"></i>
        </a>
    </div>
</nav>
</body>
</html>