<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<div class="tab-pane fade" id="project-requirements" role="tabpanel" aria-labelledby="home-tab" th:fragment="view-project-requirements">

    <div class="line"></div>

    <div class="container-fluid" style="padding: 0;">
        <div class="row">
            <div class="col-md-12">
                <h4 style="float: left;">Functional Requirements</h4>
                <button style="float: right;" class="btn btn-labeled btn-success open-createFunctionReqModal" data-toggle="modal" data-target="#createFunctionReqModal" th:attr="data-id=${project.id}">
                    <span class="btn-label"><i class="fa fa-plus"></i></span>Add Requirement
                </button>
                <table id="functionalReqTable" class="display">
                    <thead>
                    <tr>
                        <th>Requirement</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>test</td>
                        <td>
                            <div class="row" style="margin-left: 5px;">
                                <form style="display:inline;" th:action="@{/delete-team-member}" method="post">
                                    <input type="hidden" name="member"/>
                                    <button title="Remove Team Member" type="submit" class="invisible-button">
                                        <i class="far fa-trash-alt fa-lg trashHover"></i>
                                    </button>
                                    <input type="hidden" name="projectId" th:value="${project.id}"/>
                                </form>
                                <button title="Edit Team Member" class="invisible-button open-editTeamMemberModal" data-toggle="modal" data-target="#editTeamMemberModal"
                                        th:attr="data-id=${project.id}">
                                    <i class="far fa-edit fa-lg editHover"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>

        <div class="line"></div>

        <div class="row">
            <div class="col-md-12">
                <h4 style="float: left;">Non-Functional Requirements</h4>
                <button style="float: right;" class="btn btn-labeled btn-success open-createNonFunctionReqModal" data-toggle="modal" data-target="#createNonFunctionReqModal" th:attr="data-id=${project.id}">
                    <span class="btn-label"><i class="fa fa-plus"></i></span>Add Requirement
                </button>
                <table id="nonFunctionalReqTable" class="display">
                    <thead>
                    <tr>
                        <th>Requirement</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr>
                        <td>test</td>
                        <td>
                            <div class="row" style="margin-left: 5px;">
                                <form style="display:inline;" th:action="@{/delete-team-member}" method="post">
                                    <input type="hidden" name="member"/>
                                    <button title="Remove Team Member" type="submit" class="invisible-button">
                                        <i class="far fa-trash-alt fa-lg trashHover"></i>
                                    </button>
                                    <input type="hidden" name="projectId" th:value="${project.id}"/>
                                </form>
                                <button title="Edit Team Member" class="invisible-button open-editTeamMemberModal" data-toggle="modal" data-target="#editTeamMemberModal"
                                        th:attr="data-id=${project.id}">
                                    <i class="far fa-edit fa-lg editHover"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

</div>
</body>
</html>