<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>

</head>
<body>
<div class="tab-pane fade" id="project-monitoring" role="tabpanel" aria-labelledby="home-tab" th:fragment="view-project-monitoring">

    <div class="container-fluid" style="padding: 0;">

        <div class="row">
            <div class="col-md-3">
                <form id="effortForm" th:action="@{/add-effort}" method="post">

                    <div class="form-group">
                        <label for="datePicker">Date:</label>
                        <input id="datePicker" name="date" class="form-control initDate"  data-toggle="datepicker">
                    </div>

                    <div class="form-group">
                        <label for="requirementsAnalysis" class="col-form-label">Requirement Analysis Hours</label>
                        <input id="requirementsAnalysis" name="requirementsAnalysis" type="number" class="form-control" placeholder="0" required>
                    </div>

                    <div class="form-group">
                        <label for="designing" class="col-form-label">Designing Hours</label>
                        <input id="designing" name="designing" type="number" class="form-control" placeholder="0" required>
                    </div>

                    <div class="form-group">
                        <label for="coding" class="col-form-label">Coding Hours</label>
                        <input id="coding" name="coding" type="number" class="form-control" placeholder="0" required>
                    </div>

                    <div class="form-group">
                        <label for="testing" class="col-form-label">Testing Hours</label>
                        <input id="testing" name="testing" type="number" class="form-control" placeholder="0" required>
                    </div>

                    <div class="form-group">
                        <label for="projectManagement" class="col-form-label">Project Management Hours</label>
                        <input id="projectManagement" name="projectManagement" type="number" class="form-control" placeholder="0" required>
                    </div>

                    <input type="hidden" name="projectId" th:value="${project.id}">
                </form>

                <div style="text-align: right;">
                    <button class="btn btn-labeled btn-success" type="submit" form="effortForm">
                        <span class="btn-label"><i class="fa fa-plus"></i></span>Add Hours
                    </button>
                </div>

            </div>

            <div class="col-md-3">

                <div class="form-group">
                    <label for="requirementsAnalysisTotal" class="col-form-label">Total Requirement Analysis Hours</label>
                    <input id="requirementsAnalysisTotal" name="requirementsAnalysisTotal" th:value="${requirementAnalysisTotal}" type="number" class="form-control" readonly>
                </div>

                <div class="form-group">
                    <label for="designingTotal" class="col-form-label">Total Designing Hours</label>
                    <input id="designingTotal" name="designingTotal" type="number" th:value="${designingTotal}" class="form-control" readonly>
                </div>

                <div class="form-group">
                    <label for="codingTotal" class="col-form-label">Total Coding Hours</label>
                    <input id="codingTotal" name="codingTotal" type="number" th:value="${codingTotal}" class="form-control" readonly>
                </div>

                <div class="form-group">
                    <label for="testingTotal" class="col-form-label">Total Testing Hours</label>
                    <input id="testingTotal" name="testingTotal" type="number" th:value="${testingTotal}" class="form-control" readonly>
                </div>

                <div class="form-group">
                    <label for="projectManagementTotal" class="col-form-label">Total Project Management Hours</label>
                    <input id="projectManagementTotal" name="projectManagementTotal" th:value="${projectMgtTotal}" type="number" class="form-control" readonly>
                </div>
            </div>

            <div class="row">
                <div class="col-md-12">
                    <div id="chartContainer" style="width:100%; height: 400px" th:if="${totalHours} != 0"></div>
                    <script th:inline="javascript">

                        /*<![CDATA[*/
                        window.onload = function (e) {

                            var dps = [];
                            var chart = new CanvasJS.Chart("chartContainer", {
                                animationEnabled: true,
                                theme: "light2", // "light1", "dark1", "dark2"
                                title: {
                                    text: "Project Effort Distribution"
                                },
                                subtitles: [{
                                    text: "Total Effort in Person Hours"
                                }],
                                data: [{
                                    type: "pie",
                                    yValueFormatString: "#,##0\"%\"",
                                    indexLabel: "{label} - {y}",
                                    dataPoints: dps
                                }]
                            });

                            var dataPointsList = /*[[${dataPoints}]]*/ 'default';

                            console.log(dataPointsList);

                            count = 0;
                            for (var i = 0; i < dataPointsList.length; i++) {
                                var dataPoints = dataPointsList[i];
                                console.log(dataPoints);


                                dps[count++] = {
                                    y: dataPoints.y,
                                    label: dataPoints.label
                                };

                            }

                            chart.render();
                        }

                        /*]]>*/

                    </script>
                </div>
            </div>
        </div>

        <div class="row" style="margin-top: 25px;">
            <div class="col-md-12">
                <h4 style="float: left;">Tracked Effort Entries</h4>
                <table id="trackedEffortTable" class="display">
                    <thead>
                    <tr>
                        <th>Date</th>
                        <th>Req. Analysis</th>
                        <th>Designing</th>
                        <th>Coding</th>
                        <th>Testing</th>
                        <th>Project Mgt.</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr th:each="effort : ${effortList}">
                        <td th:text="${effort.date}"></td>
                        <td th:text="${effort.requirementAnalysisHours} + ' hours'"></td>
                        <td th:text="${effort.designingHours} + ' hours'"></td>
                        <td th:text="${effort.codingHours} + ' hours'"></td>
                        <td th:text="${effort.testingHours} + ' hours'"></td>
                        <td th:text="${effort.projectManagementHours} + ' hours'"></td>
                        <td>
                            <div class="row" style="margin-left: 5px;">
                                <form style="display:inline;" th:action="@{/delete-effort}" method="post">
                                    <input type="hidden" name="effortId" th:value="${effort.id}"/>
                                    <button title="Delete Entry" type="submit" class="invisible-button">
                                        <i class="far fa-trash-alt fa-lg trashHover"></i>
                                    </button>
                                    <input type="hidden" name="projectId" th:value="${project.id}"/>
                                </form>
                                <button title="Edit Requirement" class="invisible-button open-editEffortModal" data-toggle="modal" data-target="#editEffortModal"
                                        th:attr="data-id=${project.id},data-effort-id=${effort.id},data-req-analysis=${effort.requirementAnalysisHours},data-designing=${effort.designingHours},
                                                 data-coding=${effort.codingHours},data-testing=${effort.testingHours},data-project-mgt=${effort.projectManagementHours}">
                                    <i class="far fa-edit fa-lg editHover"></i>
                                </button>
                            </div>
                        </td>
                    </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>

</body>
</html>