@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Poppins', sans-serif;
    background: #fafafa;
}

p {
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: black;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.navbar {
    padding: 15px 10px;
    background: #fff;
    border: none;
    border-radius: 0;
    margin-bottom: 40px;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
}

.navbar-btn {
    box-shadow: none;
    outline: none !important;
    border: none;
}

.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px solid #ddd;
    margin: 20px 0;
}

/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

.wrapper {
    display: flex;
    width: 100%;
}

#sidebar {
    width: 250px;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    z-index: 999;
    background: #7386D5;
    color: #fff;
    transition: all 0.3s;
}

#sidebar.active {
    margin-left: -250px;
}

#sidebar .sidebar-header {
    padding: 20px;
    background: #6d7fcc;
    border-bottom: 1px solid #47748b;
}

#sidebar ul.components {
    padding: 0 0 20px 0;
}

#sidebar ul p {
    color: #fff;
    padding: 10px;
}

#sidebar ul li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    color: white;
    text-decoration: none;
}

#sidebar ul li a:hover {
    color: #7386D5;
    background: #fff;
}

#sidebar ul li.active>a,
a[aria-expanded="true"] {
    color: #fff;
    background: #455c8f;
}

a[data-toggle="collapse"] {
    position: relative;
}

.dropdown-toggle::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

ul ul a {
    font-size: 0.9em !important;
    padding-left: 30px !important;
    background: #6d7fcc;
}

ul.CTAs {
    padding: 20px;
}

ul.CTAs a {
    text-align: center;
    font-size: 0.9em !important;
    display: block;
    border-radius: 5px;
    margin-bottom: 5px;
}

a.download {
    background: #fff;
    color: #7386D5;
}

a.article,
a.article:hover {
    background: #6d7fcc !important;
    color: #fff !important;
}

/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */

#content {
    width: calc(100% - 250px);
    padding: 20px 40px 40px 40px;
    min-height: 100vh;
    transition: all 0.3s;
    position: absolute;
    top: 0;
    right: 0;
}

#content.active {
    width: 100%;
}

/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 768px) {
    #sidebar {
        margin-left: -250px;
    }
    #sidebar.active {
        margin-left: 0;
    }
    #content {
        width: 100%;
    }
    #content.active {
        width: calc(100% - 250px);
    }
    #sidebarCollapse span {
        display: none;
    }
}

#sidebar-footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: #53619a;
}

#createProjectBtn {
    padding-top: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
    float: right;
    cursor: pointer;
}


.tab-content {
    margin-top: 15px;
}

.nav-pills .nav-link.active, .nav-pills .show>.nav-link {
    background-color: #6c7ecc !important;
}

.nav-link {
    color: #6c7ecc;
}

.btn-label {
    position: relative;
    left: -12px;
    display: inline-block;
    padding: 6px 12px;
    background: rgba(0,0,0,0.15);
    border-radius: 3px 0 0 3px;
}

.btn-labeled {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

#save {
    display: none;
}

textarea {
    width: 100%;
    min-height: 100px;
    resize: vertical;
    margin: 0;
    padding: 2px;
}

.invisible-button {
    outline: none;
    border: 0;
    box-shadow: none;
    background-color: transparent;
    margin: 6px 0 0 0;
}

.editSaveDescription {
    display: none;
}

#descriptionDiv:hover .editSaveDescription {
    display: block;
}

.editSavePM {
    display: none;
}

#projectManagerDiv:hover .editSavePM {
    display: block;
}

#riskDatatable_filter {
    display: none;
}

.trashHover:hover {
    color: red;
}

.editHover:hover {
    color: blue;
}

.editTextArea {
    width: 75% !important;
    margin-bottom: 10px;
}

h4, .colored {
    color: #405b93;
}

.bigbox {
    background-color: white;
    border: 2px solid #404382;
    padding: 0;
    width: 250px;
    height: 250px;
    text-align: center;
    display: inline-block;
    border-radius: 25px;
}

.dashboardBtn {
    color: #404382;
}

.canvasjs-chart-credit, .canvasjs-chart-toolbar {
    display: none;
}







