<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">

    <title>Project Management System</title>

    <!-- Our Custom CSS -->
    <link rel="stylesheet" type="text/css" th:href="@{/css/core.css}">
    <!-- Bootstrap CSS CDN -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <!-- Scrollbar Custom CSS -->
    <link rel="stylesheet" type="text/css" href="https://cdnjs.cloudflare.com/ajax/libs/malihu-custom-scrollbar-plugin/3.1.5/jquery.mCustomScrollbar.min.css">

    <link rel="stylesheet" type="text/css" th:href="@{/css/datatables.css}">





    <script src="https://kit.fontawesome.com/797e60a2e0.js" crossorigin="anonymous"></script>
</head>

<body>

<div class="wrapper">
    <!-- Sidebar  -->
    <nav id="sidebar">
        <div style="overflow: auto; height: 100%">
            <div class="sidebar-header">
                <h3 style="margin-bottom: 0">Project List</h3>
            </div>

            <ul class="list-unstyled components">
                <th:block th:each="proj: ${projects}">
                    <li th:if="${proj.id} == ${project.id}" class="active">
                        <a th:href="'/view-project?id=' + ${proj.id}" th:text="${proj.name}">Test</a>
                    </li>
                    <li th:if="${proj.id} != ${project.id}">
                        <a th:href="'/view-project?id=' + ${proj.id}" th:text="${proj.name}">Test</a>
                    </li>
                    <li th:if="${projects} == null" style="text-align: center">
                        <a>--- No Projects Found ---</a>
                    </li>
                </th:block>
            </ul>
        </div>


        <div id="sidebar-footer">
            <a>
                <i id="createProjectBtn" class="fas fa-plus-circle fa-lg" data-toggle="modal" data-target="#createProjectModal"></i>
            </a>
        </div>
    </nav>

    <!-- Page Content  -->
    <div id="content">
        <div class="row">
            <div class="col-md-12">
                <h1 th:text="${project.name}" style="margin-bottom: 15px; float: left;"></h1>
                <form style="float: right;" th:action="@{/delete-project}" th:object="${project}" method="post">
                    <input type="hidden" th:field="*{id}" />
                    <button type="submit" class="btn btn-labeled btn-danger">
                        <span class="btn-label"><i class="fa fa-trash"></i></span>Delete Project
                    </button>
                </form>
            </div>
        </div>
        <ul class="nav nav-pills" id="myTab" role="tablist">
            <li class="nav-item">
                <a class="nav-link active" id="home-tab" data-toggle="tab" href="#general" role="tab" aria-controls="home" aria-selected="true">General</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="profile-tab" data-toggle="tab" href="#project-requirements" role="tab" aria-controls="profile" aria-selected="false">Project Requirements</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" id="contact-tab" data-toggle="tab" href="#project-monitoring" role="tab" aria-controls="contact" aria-selected="false">Project Monitoring & Tracking</a>
            </li>
        </ul>
        <div class="tab-content" id="myTabContent">
            <div class="tab-pane fade show active" id="general" role="tabpanel" aria-labelledby="home-tab">

                <div class="container-fluid" id="descriptionDiv" style="padding: 0;">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="float: left;">Description</h3>
                            <button class="invisible-button editSaveDescription" id="editDescriptionBtn"><span class="fas fa-edit fa-lg"></span></button>
                        </div>
                    </div>
                    <p id="description" style="margin-bottom: 0" th:text="${project.description}"></p>
                    <button class="btn btn-success editSaveDescription" id="saveDescription" style="display: none"><span class="fas fa-save fa-lg"></span> Save</button>
                </div>


                <div class="line"></div>

                <div class="container-fluid">
                    <div class="row">
                        <div class="col-md-3" id="projectManagerDiv" style="padding: 0; margin-bottom: 15px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 style="float: left;">Project Manager</h3>
                                    <button class="invisible-button editSavePM" id="editPMBtn"><span class="fas fa-edit fa-lg"></span></button>
                                </div>
                            </div>
                            <p id="projectManager" style="margin-bottom: 0" th:text="${project.manager}"></p>
                            <button class="btn btn-success editSavePM" id="savePMBtn" style="display: none"><span class="fas fa-save fa-lg"></span> Save</button>
                        </div>

                        <div class="col-md-3" id="teamMembersDiv" style="padding: 0; margin: 0 0 15px 15px;">
                            <div class="row">
                                <div class="col-md-12">
                                    <h3 style="float: left;">Team Members</h3>
                                    <button class="invisible-button editSavePM" id="editTeamMembersBtn"><span class="fas fa-edit fa-lg"></span></button>
                                </div>
                            </div>
                            <ul style="list-style-type: none; padding: 0">
                                <li>Hayes Roach <span class="badge badge-success">Project Manager</span></li>
                                <li>Liya Piskun <span class="badge badge-success">Software Engineer</span></li>
                                <li>Parker Roach <span class="badge badge-success">QA Specialist</span></li>
                                <li>Tanner Roach <span class="badge badge-success">Database Designer</span></li>
                            </ul>
                            <button class="btn btn-success editSavePM" id="saveTeamMembersBtn" style="display: none"><span class="fas fa-save fa-lg"></span> Save</button>
                        </div>
                        <div class="col-md-6"></div>
                    </div>
                </div>


                <div class="line"></div>

                <div class="container-fluid" id="risksDiv" style="padding: 0;">
                    <div class="row">
                        <div class="col-md-12">
                            <h3 style="float: left;">Project Risks</h3>
                            <button style="float: right;" class="btn btn-labeled btn-success open-createRiskModal" data-toggle="modal" data-target="#createRiskModal" th:attr="data-id=${project.id}">
                                <span class="btn-label"><i class="fa fa-plus"></i></span>Add Risk
                            </button>
                            <table id="riskDatatable" class="display dataTable">
                                <thead>
                                    <tr>
                                        <th>Risk Description</th>
                                        <th>Risk Status</th>
                                        <th>Action</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    <tr th:each="risk : ${risks}">
                                        <td th:text="${risk.description}">TEST</td>
                                        <td th:text="${risk.status}">TEST</td>
                                        <td>Action</td>
                                    </tr>
                                </tbody>
                                <tfoot>
                                    <tr>
                                        <th>Risk Description</th>
                                        <th>Risk Status</th>
                                        <th>Action</th>
                                    </tr>
                                </tfoot>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <p style="display: none" id="projectId" th:text="${project.id}"></p>

    <div th:replace="fragments/create-project-modal :: create-project-modal"></div>
    <div th:replace="fragments/create-risk-modal :: create-risk-modal"></div>

</div>


<!-- jQuery CDN - minified version (with AJAX) -->
<script src="https://code.jquery.com/jquery-3.4.1.min.js" integrity="sha256-CSXorXvZcTkaix6Yvo6HppcZGetbYMGWSFlBw8HfCJo=" crossorigin="anonymous"></script>
<!-- Popper.JS -->
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.0/umd/popper.min.js" integrity="sha384-cs/chFZiN24E4KMATLdqdvsezGxaGsi4hLGOzlXwp5UZB1LY//20VyM2taTB4QvJ" crossorigin="anonymous"></script>
<!-- Bootstrap JS -->
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/js/bootstrap.min.js" integrity="sha384-uefMccjFJAIv6A+rW+L4AHf99KvxDjWSu1z9VI8SKNVmz4sk7buKt/6v9KI65qnm" crossorigin="anonymous"></script>


<script th:src="@{/js/datatables.js}"></script>

<script>
    $(function () {
        // Datatable initialization
        $('#riskDatatable').DataTable();


        // DESCRIPTION EDIT & SAVE
        $('#editDescriptionBtn').click(function(){
            $('#editDescriptionBtn').hide();
            $('#description').each(function(){
                var content = $(this).text();
                $(this).html('<textarea>' + content + '</textarea>');
            });

            $('#saveDescription').show();
        });

        var content;

        $('#saveDescription').click(function(){
            $('#saveDescription').hide();
            $('textarea').each(function(){
                content = $(this).val();
                $(this).html(content);
                $(this).contents().unwrap();
                if(!$(this).val()) {
                    $(this).hide();
                }
            });

            $('#editDescriptionBtn').show();

            $.ajax({
                type: "GET",
                url: "/update-description",
                data: {
                    description: content,
                    projectId: $('#projectId').text()
                 },
                success: function (result) {
                    console.log("Description update: SUCCESS")
                }
            });
        });

        // ********************************************

        // PROJECT MANAGER EDIT & SAVE
        $('#editPMBtn').click(function(){
            $('#editPMBtn').hide();
            $('#projectManager').each(function(){
                var content = $(this).text();
                $(this).html('<textarea id="pmTextArea">' + content + '</textarea>');
            });

            $('#savePMBtn').show();
        });

        var pmContent;

        $('#savePMBtn').click(function(){
            $('#savePMBtn').hide();
            $('#pmTextArea').each(function(){
                pmContent = $(this).val();
                $(this).html(pmContent);
                $(this).contents().unwrap();
                if(!$(this).val()) {
                    $(this).hide();
                }
            });

            $('#editPMBtn').show();

            $.ajax({
                type: "GET",
                url: "/update-project-manager",
                data: {
                    projectmanager: pmContent,
                    projectId: $('#projectId').text()
                },
                success: function (result) {
                    console.log("PM update: SUCCESS")
                }
            });
        });
    });

    $(document).on("click", ".open-createRiskModal", function () {

        var id = $(this).data("id");
        $(".modal-body #projectIdHidden").val(id);

    })
</script>

</body>

</html>